.cardslot {
  @apply border border-solid rounded-md shadow mt-1 border-gray-500 bg-white w-24 h-32 p-2;

  box-shadow: inset 1px -2px #ddd, inset -1px 2px #ddd;

  .empty {
    @apply w-full h-full;

    background-image: url('../../Assets/back-cardslot-color.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .card{
    @apply flex flex-col;

    .card_image {
      @apply inline-block w-12 h-12 mx-auto text-center;
      fill: white;
    }

    .card_number {
      @apply text-center text-xl my-2 text-gray-800 font-bold;
    }
  }
}
