.cardslotlist {
  &.column {
    @apply relative;

    .item {
      @apply absolute;
    }
    @for $i from 1 to 8 {
      .item:nth-child($i) {
        $mt: calc($(i)em - 1em);
        margin-top: $(mt);
        z-index: $i;
      }
    }
  }
  &.stack {
    .item {
      @apply absolute;
    }
  }
  &.default {
    .item {
      @apply font-normal;
    }
  }
}
